body {
  width: 100vw;
  height: 100vh;
  background-color: #393957;
  overflow: hidden;
}

#container {
  height: 500px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  gap: 150px;
}

#level {
  margin: 0;
  outline: 0;
  overflow: hidden;
  text-align: left;
  line-height: 24px;
  border-radius: 5px;
  padding: 10px;
  width: 150px;
  height: 20px;
  font-size: 16px;
}
